@model JobWebsiteMVC.ViewModels.Home.Overview

@{
    ViewData["Title"] = "Home Page";
}

<!-- Look at doing this with charts - https://www.chartjs.org/samples/latest/ -->
<!-- Only show if user is an employer or admin I guess? Maybe limit employers down to their own jobs? -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Active Jobs</legend>
                <p>@Model.ActiveJobCount</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Draft Jobs</legend>
                <p>@Model.DraftJobs</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Future Jobs</legend>
                <p>@Model.FutureJobs</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Closed Jobs</legend>
                <p>@Model.ClosedJobs</p>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Users</legend>
                <p>@Model.UserCount</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Job Seekers</legend>
                <p>@Model.JobSeekingUserCount</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Employers</legend>
                <p>@Model.EmployerCount</p>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-1">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="~/js/jobsInLastMonthChart.js" asp-append-version="true" defer></script>
}
