@model JobWebsiteMVC.ViewModels.Home.Overview

@{
    ViewData["Title"] = "Home Page";
}

 <!-- Look at doing this with charts - https://www.chartjs.org/samples/latest/ -->
 <!-- Only show if user is an employer or admin I guess? Maybe limit employers down to their own jobs? -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Active Jobs</legend>
                <p>@Model.ActiveJobCount</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Draft Jobs</legend>
                <p>@Model.DraftJobs</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Future Jobs</legend>
                <p>@Model.FutureJobs</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Closed Jobs</legend>
                <p>@Model.ClosedJobs</p>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Users</legend>
                <p>@Model.UserCount</p>
            </fieldset>
        </div>
        <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Job Seekers</legend>
                <p>@Model.JobSeekingUserCount</p>
            </fieldset>
        </div>
                <div class="col-md-3">
            <fieldset class="border p-2">
                <legend>Employers</legend>
                <p>@Model.EmployerCount</p>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    $( document ).ready(function() {

        $.get("Home/JobsCreatedInLastMonth", function(res){
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: $.map(res, function(i, v){ return i.item1 }),
                    datasets: [{
                        label: '# of Jobs Created Last Month',
                        fill: false,
                        lineTension: 0.1,
                        data: $.map(res, function(i, v){ return i.item2 }),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });

    });
    </script>
}