@*@model IEnumerable<JobWebsiteMVC.ViewModels.Job.JobDetailsViewModel>*@
@model PaginatedList<JobWebsiteMVC.ViewModels.Job.JobDetailsViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
</p>
@using (Html.BeginForm("Index", "Jobs", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group mr-5">
        @Html.TextBox("SearchString", null, new { @class = "form-control form-control-sm", @placeholder = "Search jobs" })
    </div>
    <div class="form-group mr-2">
        @Html.CheckBox("showExpiredJobs", null, new { @class = "form-check-input" })
        <label class="form-check-label" for="showExpiredJobs">
            Show Expired Jobs
        </label>
    </div>
    <div class="form-group mr-2">
        @Html.DropDownList("jobTypeId", new SelectList((System.Collections.IEnumerable)ViewData["JobTypes"], "Id", "Description"), "All", new { @class = "form-control form-control-sm" })
    </div>
    <div class="form-group mr-2">
        <input type="submit" value="Search" />
    </div>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsDraft)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MinSalarySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].MinSalary)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().WorkingHoursStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().WorkingHoursEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().HoursPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().HolidayEntitlement)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClosingDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().ClosingDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().JobType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionShort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDraft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingHoursStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingHoursEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursPerWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayEntitlement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType.Description)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td width="1%">
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fas fa-edit"></i> </a>
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td width="1%">
                            <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fas fa-trash-alt"></i> </a>
                        </td>
                    }
                }
                <td width="1%">
                    <a asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="fas fa-info-circle"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-secondary @nextDisabled">
    Next
</a>

<style type="text/css">
    .table{
        max-height: 100vh;
        overflow: auto;
    }
</style>