@model PaginatedList<JobWebsiteMVC.ViewModels.Job.JobDetailsViewModel>

@{
    ViewData["Title"] = "My Jobs";
}
<div class="container">
<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New Listing</a>
</p>


<table class="table table-bordered table-striped table-hover" id="tblJobs" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Job Title</th>
            <th scope="col">Description</th>
            <th scope="col">Draft?</th>
            <th scope="col">Min Salary</th>
            <th scope="col">Max Salary</th>
            <th scope="col">Hours per week</th>
            <th scope="col">Holiday</th>
            <th scope="col">Job Type</th>
            <th scope="col">Active?</th>
            <th></th>
        </tr>
    </thead>

</table>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js" defer="true"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.min.js" defer="true"></script>
    <script src="~/js/jobs/jobdatatable.js" asp-append-version="true" defer="true"></script>
}
@* 
@using (Html.BeginForm("ViewMyJobs", "Jobs", FormMethod.Post, new { @class = "row gy-2 gx-3 align-items-cente" }))
{
    <div class="col-sm-4">
        @Html.TextBox("SearchString", null, new { @class = "form-control form-control-sm", @placeholder = "Search jobs" })
    </div>
    <div class="col-auto">
        @Html.CheckBox("showExpiredJobs", null, new { @class = "form-check-input" })
        <label class="form-check-label" for="showExpiredJobs">
            Show Expired Jobs
        </label>
    </div>
    <div class="col-auto">
        @Html.DropDownList("jobTypeId", new SelectList((System.Collections.IEnumerable)ViewData["JobTypes"], "Id", "Description"), "All", new { @class = "form-select form-select-sm" })
    </div>
    <div class="col-auto">
        <input type="submit" value="Search" id="filterSearch" class="btn btn-primary btn-sm" />
    </div>
}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsDraft)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["MinSalarySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].MinSalary)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().HoursPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().HolidayEntitlement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsActive)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClosingDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().ClosingDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.Raw(Markdig.Markdown.ToPlainText(item.DescriptionShort))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDraft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursPerWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HolidayEntitlement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id" title="Edit"><span class="material-icons">edit</span></a>
                        <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" title="View">
                            <span class="material-icons">
                                info
                            </span>
                        </a>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ViewMyJobs"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-jobTypeId="@ViewData["jobTypeId"]"
   class="btn btn-outline-secondary @prevDisabled">
    Previous
</a>
<a asp-action="ViewMyJobs"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-jobTypeId="@ViewData["jobTypeId"]"
   class="btn btn-outline-secondary @nextDisabled">
    Next
</a>
<p>
    Page @Model.PageIndex of @ViewData["totalPages"]
</p>

<style type="text/css">
    .table {
        max-height: 100vh;
        overflow: auto;
    }
</style> *@