@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}
<div class="col-md-5 offset-md-5">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4" card>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" value="P@55w0rd1" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check mb-0">
                        <input asp-for="Input.RememberMe" class="form-check-input" id="Input_RememberMe" />
                        <label asp-for="Input.RememberMe" class="form-check-label ms-2" for="Input_RememberMe">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">@ViewData["Title"]</button>
                </div>
                <div class="btn-group">
                    <p>
                        <a id="forgot-password" class="btn btn-outline-info btn-sm" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" class="btn btn-outline-primary btn-sm" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-outline-info btn-sm" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4 offset-md-4">
        @if (Model.JobOwnerUsernames == null)
        {
            <section>
                <p> Loading Users....</p>
            </section>
        }
        else
        {
            <section>
                <fieldset>
                    <legend>Job Owners</legend>
                    @foreach (var username in Model.JobOwnerUsernames)
                    {
                        <p>@username</p>
                    }
                </fieldset>
                <fieldset>
                    <legend>Job Seekers</legend>
                    @foreach (var username in Model.JobSeekerUsernames)
                    {
                        <p>@username</p>
                    }
                </fieldset>
                <fieldset>
                    <legend>Admins</legend>
                    @foreach (var username in Model.AdminUsernames)
                    {
                        <p>@username</p>
                    }
                </fieldset>
            </section>
        }
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    fieldset {
        border: 1px solid darkgray;
        padding-left: 10px;
    }

    legend {
        width: auto;
    }

    body {
        background: url('/Images/london-skyline.jpg') no-repeat center center fixed;
        height: 90%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    section {
        background-color: whitesmoke;
        opacity: 0.8;
        border-radius: 10px;
        padding: 10px 5px;
    }

</style>